In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

Pandas has been installed using pip command

In [2]:
import pandas as pd

Pandas is imported as pd

In [4]:
data={
    'Name':['Alice','Bob','Charlie','Diana','Eve'],
    'Age':[24,27,22,32,29],
    'Department':['HR','Finance','IT','Marketing','HR'],
    'Salary':[45000,54000,50000,62000,47000]
}
df=pd.DataFrame(data)
print(df.head())

print(df['Age'].describe())

print(df['Salary'].describe())

avg_salary=df[df['Department']=='HR']['Salary'].mean()
print("Avg salary of employe in HR depatement: ", avg_salary )

      Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000
count     5.000000
mean     26.800000
std       3.962323
min      22.000000
25%      24.000000
50%      27.000000
75%      29.000000
max      32.000000
Name: Age, dtype: float64
count        5.000000
mean     51600.000000
std       6730.527468
min      45000.000000
25%      47000.000000
50%      50000.000000
75%      54000.000000
max      62000.000000
Name: Salary, dtype: float64
Avg salary of employe in HR depatement:  46000.0

Data set has been copied from the assignment and is conveted into tabels using pd.DataFrame()
The first five elements are converted using df.head()
Statistical summary is given using df('cols').describe() for age and salary
Average of salary of HR is calculated by df['cols']['target'].mean()

In [5]:
Bonus=df['Salary']/10
df1=df.assign(Bonus=Bonus)
print(df1)

      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0

a new column of bonus is prepared which is 10% of their actual salary by firstly dividing the salary by 10 
and then creating a new column by assigning it through df.assign(bonus=bonus) where LHS bonus means a new 
column is created and RHS bonus is that the value under the bonus column is addeed

In [6]:
df2=df[( df['Age']>=25) & (df['Age']<=35)]
print(df2)

    Name  Age Department  Salary
1    Bob   27    Finance   54000
3  Diana   32  Marketing   62000
4    Eve   29         HR   47000

A new dataframe is prepared where the age of employes are are between 25 and 35 by using & operator

In [7]:
print(df.groupby('Department')['Salary'].mean())

Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

df.groupby('cols')[].mean() is used to find the average of salary of employee working under same department

In [8]:
df3=df.sort_values(by='Salary',ascending=True)
print(df3)

      Name  Age Department  Salary
0    Alice   24         HR   45000
4      Eve   29         HR   47000
2  Charlie   22         IT   50000
1      Bob   27    Finance   54000
3    Diana   32  Marketing   62000

A new dataset is prepared where the salary of empolyes are in ascending order by using sort_values function